<div class="container custom-container-with-subnav">

<section class='section'>
  <div class='container'>
    <h1 class='title'>Record Match</h1>

    <div class="custom-select-winner">

      <% @result.each do |match| %>

        <% match[:left].each do |player| %>
          <figure class='custom-select-player'>
            <% unless player[:img_path] == nil %>
              <img src="<%= player[:img_path] %>">
            <% else %>
              <img src="/images/avatar.png">
            <% end %>
          </figure>
          <p><%= player[:username] %></p>
        <% end %>
        <% match[:right].each do |player| %>
          <figure class='custom-select-player'>
            <% unless player[:img_path] == nil %>
              <img src="<%= player[:img_path] %>">
            <% else %>
              <img src="/images/avatar.png">
            <% end %>
          </figure>
          <p><%= player[:username] %></p>
        <% end %>

        <div class='is-centered'>
          <a class="button icon is-medium custom-circle-button"><i class="fa fa-arrow-left"></i></a>
          <a class="button icon is-medium is-disabled custom-circle-button"><i class="fa fa-check"></i></a>
        </div>

      <% end %>
    </div>

  </div>
</section>


<%= erb :'_sub_nav' %>
</div>