<div class="container custom-container-with-subnav">
  <section class='section'>
    <div class='container'>
      <h1 class='title'>Record Match</h1>

      <ul>
        <% @match_hash_array.each do |match| %> 
          <li class='media custom-media-profile'>
            <% match[:players].each do |player| %>
              <figure class='media-image'>
                <% unless player[:img_path] == nil %>
                  <img src="<%= player[:img_path] %>">
                <% else %>
                  <img src="/images/avatar.png">
                <% end %>
              </figure>

              <p class="subtitle"><%= player[:username] %>, team <%= player[:side]%></p>
            <% end %>

            <div class='media-content'>
              <p><%= match[:category] %> game</p>
              <p>Accepted at <%= match[:time]%> </p>
              <p>You are on team <%= match[:your_side] %></p>
            </div>
            
            <form method='post'>
              <input type='hidden' name='_method' value='put'>
              <input type='hidden' name='match_id' value='<%= match[:match_id] %>
              '>
              <input type='hidden' name='status' value='cancelled'>
              <button class="button icon is-medium custom-circle-button">
                <i class="fa fa-times"></i>
              </button>
            </form>

            <form method='post'>
              <input type='hidden' name='_method' value='put'>
              <input type='hidden' name='match_id' value='<%= match[:match_id] %>
              '>
              <input type='hidden' name='status' value='over'>
              <button class="button icon is-medium custom-circle-button">
                <i class="fa fa-check"></i>
              </button>
            </form>

          </li>
        <% end %>
      </ul>
    </div>
  </section>
  <%= erb :_sub_nav %>
</div>

