<div class="container custom-container-with-subnav">
  <section class='section'>
    <div class='container'>
      <h1 class='title'>Record Match</h1>

      <ul>
        <% @match_hash_array.each do |match| %> 
          <li class='media custom-media-profile'>
            <% match[:players].each do |player| %>
              <figure class='media-image'>
                <% unless player[:img_path] == nil %>
                  <img src="<%= player[:img_path] %>">
                <% else %>
                  <img src="/images/avatar.png">
                <% end %>
              </figure>

              <p class="subtitle"><%= player[:username] %>, team <%= player[:side]%></p>
            <% end %>

            <div class='media-content'>
              <p><%= match[:category] %> game</p>
              <p>Accepted at <%= match[:time]%> </p>
              <p>You are on team <%= match[:your_side] %></p>
            </div>

            <div data-match-id="<%= match[:match_id] %>">
              <a class="button icon is-medium custom-circle-button js-cancel-match"><i class="fa fa-times"></i></a>
              <a class="button icon is-medium custom-circle-button js-record-match"><i class="fa fa-check"></i></a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
  <%= erb :_sub_nav %>
</div>

