<section class='section'>
  <div class='container'>
    <h1 class='title'>Leaderboard</h1>

    <h2 class='title is-5'>Singles - Top 10</h2>
    <table class='table custom-table-stats'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Win %</th>
        </tr>
      </thead>
      <tbody>
        <% @singles.each do |user| %>
          <tr>
            <td>
              <% unless user[:img_path] == nil %>
                <img src="<%= user[:img_path] %>">
              <% else %>
                <img src="/images/avatar.png">
              <% end %>
              <%= user[:username] %>
            </td>
            <td><%= user[:wins] %></td>
            <td><%= user[:losses] %></td>
            <td><%= user[:ratio] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2 class='title is-5'>Doubles - Top 10</h2>
    <table class='table custom-table-stats custom-table-hide-img'>
      <thead>
        <tr>
          <th>Team</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Win %</th>
        </tr>
      </thead>
      <tbody>
        <% @doubles.each do |team| %>
          <tr>
            <td>
              <% team[:team].each do |member| %>
                <% unless member[:img_path] == nil %>
                  <img src="<%= member[:img_path] %>">
                <% else %>
                  <img src="/images/avatar.png">
                <% end %>
                <%= member[:username] %>
              <% end %>
            </td>
            <td><%= team[:wins] %></td>
            <td><%= team[:losses] %></td>
            <td><%= team[:ratio] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2 class='title is-5'>Latest Matches</h2>
    <table class='table custom-table-stats custom-table-hide-img'>
      <thead>
        <tr>
          <th>Time</th>
          <th>Team 1</th>
          <th>Team 2</th>
          <th>Winner</th>
        </tr>
      </thead>

      <tbody>
        <% @latest.each do |match| %>
          <tr>
            <td>
              <%= match[:time] %>
            </td>
            
            <% if match[:type] == "singles" %>
              <td>
                <% unless match[:team][0][:img_path] == nil %>
                  <img src="<%= match[:team][0][:img_path] %>">
                <% else %>
                  <img src="/images/avatar.png">
                <% end %>
                <%= match[:team][0][:username] %>
              </td>

              <td>
                <% unless match[:team][1][:img_path] == nil %>
                <img src="<%= match[:team][1][:img_path] %>">
                <% else %>
                  <img src="/images/avatar.png">
                <% end %>
                <%= match[:team][1][:username] %>
              </td>

              <td>
                <% unless match[:winner][:img_path] == nil %>
                  <img src="<%= match[:winner][:img_path] %>">
                <% else %>
                  <img src="/images/avatar.png">
                <% end %>
                <%= match[:winner][:username] %>
              </td>
            <% else %>
              <td>
                <% match[:team][0].each do |member| %>
                  <% unless member[:img_path] == nil %>
                    <img src="<%= member[:img_path] %>">
                  <% else %>
                    <img src="/images/avatar.png">
                  <% end %>
                  <%= member[:username] %>
                <% end %>
              </td>
              <td>
                <% match[:team][1].each do |member| %>
                  <% unless member[:img_path] == nil %>
                    <img src="<%= member[:img_path] %>">
                  <% else %>
                    <img src="/images/avatar.png">
                  <% end %>
                  <%= member[:username] %>
                <% end %>
              </td>
              <td>
                <% match[:winner].each do |member| %>
                  <% unless member[:img_path] == nil %>
                    <img src="<%= member[:img_path] %>">
                  <% else %>
                    <img src="/images/avatar.png">
                  <% end %>
                  <%= member[:username] %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    
    <h2 class='title is-5'>Top Active Players</h2>
    <table class='table custom-table-stats'>
      <thead>
        <tr>
          <th>Player</th>
          <th>Singles</th>
          <th>Doubles</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% count = 0 %>
        <% if count <= 10 %>
          <% @actives.each do |user| %>
            <% count =+ 1 %>
            <tr>
              <td>
                <% unless user[:img_path] == nil %>
                  <img src="<%= user[:img_path] %>">
                <% else %>
                  <img src="/images/avatar.png">
                <% end %>
                <%= user[:username] %>
              </td>
              <td><%= user[:singles] %></td>
              <td><%= user[:doubles] %></td>
              <td><%= user[:total] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>


