<section class='section'>
  <div class='container'>
    <h1 class='title'>Leaderboard</h1>

    <h2 class='title is-5'>Singles - Top 10</h2>
    <table class='table custom-table-stats'>
      <thead>
        <tr>
          <th>R.</th>
          <th>Name</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Win %</th>
        </tr>
      </thead>
      <tbody>
        <% @singles.each do |user| %>
          <tr>
            <td>
              <% unless user[:img_path] == nil %>
                <img src="<%= user[:img_path] %>">
              <% else %>
                <img src="/images/avatar.png">
              <% end %>
              <%= user[:username] %>
            </td>
            <td><%= user[:wins] %></td>
            <td><%= user[:losses] %></td>
            <td><%= user[:ratio] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class='content'>
      <p><a>View entire ranking</a></p>
    </div>
<!--
    <h2 class='title is-5'>Doubles - Top 10</h2>
    <table class='table custom-table-stats custom-table-hide-img'>
      <thead>
        <tr>
          <th>R.</th>
          <th>Team</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Win %</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <img src='/images/player_04.jpg'>
            <img src='/images/player_02.jpg'>
            <div>
              <span>JarHead</span> 
              <span>NickBozzMan</span>
            </div>
          </td>
          <td>13</td>
          <td>9</td>
          <td>59.1%</td>
        </tr>
        <tr>
          <td>2</td>
          <td>
            <img src='/images/player_01.jpg'>
            <img src='/images/player_03.jpg'>
            <div>
              <span>ColesoON</span> 
              <span>MikeIke</span>
            </div>
          </td>
          <td>12</td>
          <td>13</td>
          <td>48%</td>
        </tr>
        
      </tbody>
    </table>
    <div class='content'>
      <p><a>View entire ranking</a></p>
    </div>

<h2 class='title is-5'>Latest Matches</h2>
    <table class='table custom-table-stats custom-table-hide-img'>
      <thead>
        <tr>
          <th>Time</th>
          <th>Team 1</th>
          <th>Team 2</th>
          <th>Winner</th>
        </tr>
      </thead>
      <tbody>
        <% @latest.each do |user| %>
          <tr>
            <td>
              <%= user[:time] %>
            </td>
            <td>
              <% user[:left].each do |player| %>
                <% unless player[:img_path] == nil %>
                  <img src="<%= player[:img_path] %>">
                <% else %>
                  <img src="/images/avatar.png">
                <% end %>
                <%= player[:username] %>
              <% end %>
            </td>
            <td>
              <% user[:right].each do |player| %>
                <% unless player[:img_path] == nil %>
                  <img src="<%= player[:img_path] %>">
                <% else %>
                  <img src="/images/avatar.png">
                <% end %>
                <%= player[:username] %>
              <% end %>
            </td>
            <td>
              Team <%= user[:winner] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2 class='title is-5'>Top Active Players</h2>
    <table class='table custom-table-stats'>
      <thead>
        <tr>
          <th>Player</th>
          <th>Singles</th>
          <th>Doubles</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% count = 0 %>
        <% if count <= 10 %>
          <% @actives.each do |user| %>
            <% count =+ 1 %>
            <tr>
              <td>
                <% unless user[:img_path] == nil %>
                  <img src="<%= user[:img_path] %>">
                <% else %>
                  <img src="/images/avatar.png">
                <% end %>
                <%= user[:username] %>
              </td>
              <td><%= user[:singles] %></td>
              <td><%= user[:doubles] %></td>
              <td><%= user[:total] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    -->
  </div>
</section>


