<div class="container custom-container-with-subnav">
  <section class="section">
    <div class="container">

    <h1 class='title'>Match Invites</h1>
    
      <ul id='MatchInvites'>

        <% @invite_array.each do |invite| %>
          <li class='media custom-media-profile'>
            <figure class='media-image'>
              <% unless invite[:img_path] == nil %>
                <img src="<%= invite[:img_path] %>">
              <% else %>
                <img src="/images/avatar.png">
              <% end %>
            </figure>
            <div class='media-content'>
              <p><%= invite[:category].capitalize %> from <%= invite[:issuer] %></p>
              <p>Sent <%= invite[:sent] %></p>
              
              <% unless invite[:message] == "" %>
                <p>Message: <%= invite[:message] %></p>
              <% end %>
            </div>
            <form method='post'>
              <input type='hidden' name='_method' value='put'>
              <input type='hidden' name='match_invite_id' value='<%= invite[:id] %>
              '>
              <input type='hidden' name='accept' value='false'>
                <button class="button icon is-medium custom-circle-button">
                  <i class="fa fa-times"></i>
                </button>
            </form>
            <form method='post'>
              <input type='hidden' name='_method' value='put'>
              <input type='hidden' name='match_invite_id' value='<%= invite[:id] %>'>
              <input type='hidden' name='accept' value='true'>
                <button class="button icon is-medium custom-circle-button">
                  <i class="fa fa-check"></i>
                </button>
            </form>
          </li>
        <% end %>

      </ul>

    </div>
  </section>

  <%= erb :'_sub_nav' %>
</div>
