<div class="container custom-container-with-subnav">
  <section class="section">
    <div class="container">

    <h1 class='title'>Match Invites</h1>
    
      <ul id='MatchInvites'>
        <% @invite_array.each do |invite| %>
          <li class='media custom-media-profile'>
            <figure class='media-image'>
              <% unless invite[:img_path] == nil %>
                <img src="<%= invite[:img_path] %>">
              <% else %>
                <img src="/images/avatar.png">
              <% end %>
            </figure>
            <div class='media-content'>
              <p>Sent <%= invite[:sent] %> days ago</p>
              <p>From <%= invite[:issuer] %></p>
              <p><%= invite[:category] %></p>
              <% unless invite[:message] == "" %>
                <p>Message: <%= invite[:message] %></p>
              <% end %>
            </div>
            <div data-match-invite-id="<%= invite[:id] %>">
              <a class="button icon is-medium custom-circle-button js-cancel-invite"><i class="fa fa-times"></i></a>
              <a class="button icon is-medium custom-circle-button js-accept-invite"><i class="fa fa-check"></i></a>
            </div>
          </li>
        <% end %>
      </ul>

    </div>
  </section>

  <%= erb :'_sub_nav' %>
</div>
