<h1>Home Page</h1>

<img src="http://joefleck.com/blog/wp-content/uploads/2015/03/DSC00086.jpg" width="300"> 

<h1>Top 10</h1>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Ratio</th>
      <th>Total Games</th>
    </tr>
  </thead>
  <tbody>
    <% count = 0 %>
    <% @users.reverse.each do |user| %>
      <% if count < @limit %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.calc_wins %></td>
          <td><%= user.calc_losses %></td>
          <td><%= user.calc_ratio %></td>
          <td><%= user.calc_total_plays %></td>
        </tr>
      <% end %>
      <% count += 1 %>
    <% end %>
  </tbody>
</table>

<p>--------------------------------</p>

<% players = [] %>
<table>
  <thead>
    <tr>
      <th>Team 1</th>
      <th>Team 2</th>
      <th>Winner</th>
    </tr>
  </thead>
  <tbody>
    <% @last_matches.each do |match| %>
      <% players << MatchResult.where(match_id: match.id) %>

      <% players.each do |player| %>
        <% team_left_player_names = "" %>
        <% team_right_player_names = "" %>
        <% winner = "" %>

        <% teams = player.first.team %>
        <% team_left = player.where(team: teams) %>
        <% team_right = player.where.not(team: teams) %>
        
        <% team_left.each do |name| %>
          <% team_left_player_names <<  User.find(name.user_id).username + " " %>
        <% end %>

        <% team_right.each do |name| %>
          <% team_right_player_names <<  User.find(name.user_id).username + " " %>
        <% end %>

        <% if team_left.first.result == 1 %>
          <% winner = team_left_player_names %>
        <% else %>
          <% winner = team_right_player_names %>
        <% end %>
        <tr>

          <td><%= team_left_player_names %></td>
          <td><%= team_right_player_names %></td>
          <td><%= winner %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>






